.carousel-track {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.portCard{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:20px;
}

.portCard:hover{
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;

}

.maskImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 0;
    z-index: 4;
}

.item-container>img:first-child{
    inset:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    padding: 7% 10% 7%;  
    box-sizing: border-box; 
    z-index: 0;
    
} 



.item-container{
    position: relative;
    width: 70%; 
    aspect-ratio: 16/9; /* กำหนดอัตราส่วน 16:9 */
    display: block;
    flex-shrink: 0;
    padding-bottom: 45%; 
    overflow: visible; 
    border-radius: 0 0 20px 20px;
    top: 25px;
}

/* Info */
.portInfo {
    padding: 0.9rem 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-top: calc(15% * 0.15); /* ✅ ดัน portInfo ลงตามฐาน macbook */
    margin-left: 2em;
    margin-right: 2em;
}

.bg-Overlay {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    padding-bottom: 2rem;
}

/* รูป bg เบลอด้านหลัง */
.bg-Overlay::before {
    content: '';
    position: absolute;
    inset: 0;  /* ← ใช้ inline style แทน */
    background-size: cover;
    background-image: var(--bg-url); 
    background-position: center;
    opacity: 0.7;
    z-index: 0;
    filter: blur(4px);
    transform: scale(1.1);  /* ป้องกันขอบขาวตอน blur */
}

.portInfo-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
}

.portInfo-text>p{
    font-size: 0.9rem;
    color: #555;
}

.portInfo-text>h1{
    font-size: 1.3rem;
    color: #950101;
    font-family: Prompt, sans-serif;
    font-weight: 600;
}

.sm-btn{
    background-color:#340000;
    padding: 5px 17px;
    border: none;
    border-radius: 15px;
}

.sm-btn:hover{
    background-color:#800000;

}
.sm-btn i{
    color: #FFC233;   

}

.sm-btn i:hover{
    color: white;   

}

.hder{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;  
    padding: 1rem 0 0 2rem;
}


.hder h1{
    font-size: clamp(1.5rem, 2vw, 36px);
    color: #FFC233;
    font-family: Prompt, sans-serif;
    font-weight: 600;   
}

.hder p{
    font-size: clamp(0.9rem, 1.8vw, 20px);
    color:#C5C5C5;
    max-width: 600px;
}
